 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');


.container{
    background-color: aquamarine;
    height: 100vh;
    background-image: url('../images/Background.jpeg');

    .form-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 0.75rem;
        background-color: aliceblue;
        width: 30%;
        filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
        position: relative;
        top: 20%;
        left: 35%;
        padding: 5px;

        .title{
            margin: 30px;
            h1{
                margin-bottom:4px;
                font-family: 'Lobster', cursive;
                font-size: 2.25rem; 
                line-height: 2.5rem;
                filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
            }
            p{
                font-size: 0.875rem; /* 14px */
                line-height: 1.25rem; /* 20px */
                // position: relative;
                // left: 15%;
                font-style: italic;
            }
        }

        .form-body{
            display: flex;
            flex-direction: column;
            margin-top:10px;
            margin-bottom: 40px;

            input{
                padding: 15px;
                margin: 7px 0px;
                border: none;
                border-bottom: 2px solid rgb(100 116 139);
                border-radius: 0.375rem;
            }

            input:focus{
                outline: none;
                padding: 20px;
                filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
                border-radius: 0.375rem;
            }

            .file-input{
                border: none;
                display: none;
            }
            
            .avatar-container{
                position: relative;
                width: 200px;
                margin: 20px;
                cursor: pointer;
                filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));

                .avatar{
                    margin-right: 2%;
                    font-size: 1.5rem; 
                    line-height: 2rem;
                    border: 2px solid black;
                    border-radius: 0.375rem;
                }

                .avatar-text{
                    font-weight: 200;
                    font-family: 
                    ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
                }
            }
            
            .register-button{
                cursor: pointer;
                padding: 3px;
                background-color:orange;
                border-radius: 0.125rem;
                filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
            }
        }

        .form-footer{
            text-align: center;
            margin-bottom: 10px;
        }
    }
}